h1 {
    text-align: center;
}

.show-table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-top: 50px;
}

.show-table td{
    width: 50px;
    background-color: grey;
    text-align: center;
    transition: 0.5s;
    border: 1px solid black;
}

.show-table td:hover{
    background-color: rgb(71, 72, 72);
}

.click:hover {
    cursor: pointer;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-top: 50px;
}

.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    border: 1px solid black;
}

.board td:hover {
    background-color: lightsalmon;
}


.hide {
    background-color: gray;
    cursor: pointer;
}

.footer {
    background-color: grey;
    text-align: center;
}

.modal {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    width: 300px;

    padding: 5px;
    background-color: rgb(98, 128, 127);
}

.modal button {
    float: right;
}

.buttons {
    width: 80vh;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.button {
    width: 75%;

}

.button:hover {
    background-color: rgb(168, 145, 135);
    cursor: pointer;
}

.safe {
    background-color: blue;
}

.mine-cell {
    background-color: red;
}